<center>
  <h1>Gemeente Haarlem</h1>
    <form id="elasticsearch" action="/search" class="search" method="get" accept-charset="utf-8">
      <fieldset>
        <div>
          <input type="search" id="inputText" class="tx-solr-q" name="query_term" value="" placeholder="Zoeken" width=100>
          <input type="submit" value="Zoek" class="button">
        </div>
      </fieldset>
    </form>
<center>
