<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    {{#if suggester}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(document).ready( function() {
        $( "#search_box" ).autocomplete({
          source: "/suggest",
          minLength: 2,
          select: function(event, ui) { 
            $("#search_box").val(ui.item.value);
            $("#search_form").submit();      
          }
        });
      })
    </script>
    {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
